<div class="w-100 min-vh-100 bg-img position-absolute top-0 start-0">
</div>
<div class="col-lg-5 col-md-8 col-12 mx-auto">
  <div class="card my-5">
    <div class="card-body">
      <h1 class="card-title fw-bold">Fake Store <fa-icon icon="shopping-bag"></fa-icon> </h1>
      <span class="text-primary">We don't have much. Practically nothing.</span>
      <div class="my-3">
        <p>Welcome to my store. We have stuff you can't buy. You can't buy it because it's all fake.</p>
      </div>
      <div class="my-3">
        <p>All of our products come from <a target="_blank" class="link-primary fw-bold"
                                            href="https://fakestoreapi.com/">Fake Store API</a>.</p>
      </div>
    </div>
  </div>
  <div class="card mt-3 mb-5">
    <div class="card-body">
      <h1 class="card-title fw-bold">Start Shopping!</h1>
      <span class="text-primary fs-5">Browse our fake products.</span>
      <div class="my-2 p-3">
        <button type="button" class="btn btn-primary btn-lg w-100 fs-4" routerLink="/products">Shop <fa-icon icon="angle-right"></fa-icon></button>
      </div>
    </div>
  </div>
  <div class="card mt-3 mb-5">
    <div class="card-body">
      <h1 class="card-title fw-bold">What's New?</h1>
      <span class="text-primary fs-5">Nothing really...</span>
    </div>
  </div>
</div>
