<div class="d-flex my-5 justify-content-center align-items-center">
  <div class="card my-3">
    <div class="card-body">
      <h1 class="card-title fw-bold">Fake Store</h1>
      <span class="text-primary">We don't have much. Practically nothing.</span>
      <div class="my-3">
        <p>Welcome to my store. We have stuff you can't buy. You can't buy it because it's all fake.</p>
      </div>
      <div class="my-3">
        <p>All of our products come from <a target="_blank" class="link-primary fw-bold"
                                            href="https://fakestoreapi.com/">Fake Store API</a>.</p>
      </div>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-body">
      <h1 class="card-title fw-bold">Fake Store</h1>
      <span class="text-primary">We don't have much. Practically nothing.</span>
      <div class="my-3">
        <p>Welcome to my store. We have stuff you can't buy. You can't buy it because it's all fake.</p>
      </div>
      <div class="my-3">
        <p>All of our products come from <a target="_blank" class="link-primary fw-bold"
                                            href="https://fakestoreapi.com/">Fake Store API</a>.</p>
      </div>
    </div>
  </div>
</div>
